
.title{
font-family: "Rubik", sans-serif;
text-align: center;
font-weight: 600;
font-size: 28px;
background:transparent;
}

.my-5{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border:none;
  font-family: "Rubik", sans-serif;
}

.form-group  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  color:white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  border: 1px red;
  background: transparent;
  color:black;
  transition: 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  max-width: 350px;
}

input {
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

input:valid, ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label, .mat-input{
  color: greenyellow;
  caret-color: greenyellow;
  padding-left: 20px;
  padding-right: 20px;
}

input:required:invalid {
  background: transparent;
  color:red;
  height: 40px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: red;
}

/* input color class */
::ng-deep .mat-input-element {
  color: #ffffff;
}

/* Change label color on focused */
/* ::ng-deep .mat-form-field-label {
  color: #ffffff;
} */

/* underline border color on focused */
::ng-deep .mat-focused {
  background:transparent;
}

.terms{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.terms a{
  color:white;
}

.terms a:hover{
  color: red;
}

::ng-deep .mat-checkbox{
  color:white;
}
 /* style dla selectow */

::ng-deep .mat-primary{
  color:white;
}

.bad-option{
  color:red !important;
}

::ng-deep .mat-option-text{
  color:white;
}
::ng-deep .mat-select-value-text{

  color:white;
}

::ng-deep .mat-select-arrow{
  color:white;
}

::ng-deep .mat-select{
  color:white;
}

/* style dla selectow - koniec */

::ng-deep .mat-calendar-body-selected{
  color:black;
  background-color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ffffff ;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
color:#ffffff;
}

/* Change label color on focused */
::ng-deep .mat-form-field {
  color: white ;
}

/* underline border color on focused */
::ng-deep .mat-form-field-ripple{
  background-color: greenyellow;
}

::ng-deep .mat-datepicker-toggle {
  color:white;
 }

:host ::ng-deep .mat-form-field-wrapper{
  position: relative;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.mat-raised-button {
  font-weight: 700;
  width: 140px;
  height: 40px;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-left: 30%;
  border-radius: 5px;
}

.mat-raised-button:hover {
  font-weight: 700;
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mat-raised-button:disabled{
  color: #ffffff;
}

.error{
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  color:red;
}
