.whole-site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  margin: 0;
  background: transparent;
  /* background-image: url("../assets/images/new-bg2.svg");
  background-repeat: no-repeat;
  background-color: black; */
  background-color: black;
}

.site-content {
  width: 100%;
  flex: 1;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
