
<div class="whole-carousels">

  <div class="carusel">
    <input type="radio" id="car0" name="car" checked="checked"/>
    <div></div> 
    
    <input type="radio" id="car1" name="car"/>
    <div>
      
      <label class="carusel__arrow" for="car0"></label>
      <div class="carusel__item" style="background-image: url('../../assets/slides/slide1.jpg')"></div>
    </div>
    
    <input type="radio" id="car2" name="car"/>
    <div>
      <label class="carusel__arrow" for="car1"></label>
      <div class="carusel__item" style="background-image: url('../../assets/slides/slide2.jpg')"></div>
    </div>
    
    <input type="radio" id="car3" name="car"/>
    <div>
      <label class="carusel__arrow" for="car2"></label>
      <div class="carusel__item" style="background-image:url('../../assets/slides/slide3.svg')"></div>
    </div>
    
    <input type="radio" id="car4" name="car"/>
    <div>
      <label class="carusel__arrow" for="car3"></label>
      <div class="carusel__item" style="background-image: url(https://source.unsplash.com/400x400/?sig=4)"></div>
    </div>
  
    <input type="radio" id="car5" name="car"/>
    <div>
      <label class="carusel__arrow" for="car4"></label>
      <div class="carusel__item" style="background-image: url(https://source.unsplash.com/400x400/?sig=5)"></div>
    </div>
  
    <input type="radio" id="car6" name="car"/>
    <div>
    
      <div class="carusel__item" style="background-image: url(https://source.unsplash.com/400x400/?sig=6)"></div>
      
    </div>
    
  </div>

  
</div>





<div class="card-my">
  
  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card1.jpg" alt="Kurs 1" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs pierwszy</mat-card-title>
      <mat-card-subtitle>Dla początkujących</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card2.jpg" alt="Kurs 2" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs 2</mat-card-title>
      <mat-card-subtitle>Dla zaawansowanych</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card3.jpg" alt="Kurs 3" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs 3</mat-card-title>
      <mat-card-subtitle>Dla zaawansowanych</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card4.jpg" alt="Kurs 4" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs 4</mat-card-title>
      <mat-card-subtitle>Dla zaawansowanych</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card4.jpg" alt="Kurs 5" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs 5</mat-card-title>
      <mat-card-subtitle>Dla zaawansowanych</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="../assets/card-img/card4.jpg" alt="Kurs 5" />
    <mat-card-header>
      <div mat-card-avatar class="avatarImage"></div>
      <mat-card-title>Kurs 5</mat-card-title>
      <mat-card-subtitle>Dla zaawansowanych</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Lorem Ipsum is simply dummy text of the</h3>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button class="more-button">
        <i class="material-icons"> more_horiz </i> Więcej
      </button>
      <button mat-raised-button class="card-button">
        <i class="material-icons">add_circle</i> Zapisz się
      </button>
    </mat-card-actions>
  </mat-card>
</div>
